{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
  <h1>
    {{ title }}
  </h1>
  <p><a href="/artists/new">Create new</a> artist.</p>

  <ul>
    {% for artist in artists %}
      <li><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></li>
    {% endfor %}
  </ul>
</main>
{% endblock %}