body {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
}

.wrapper {
  max-width: 54rem;
  margin-inline: auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.4em;
}

.artists-list {
  list-style: none;
}

.artists-list li {
  display: flex;
  justify-content: space-between;
}

.artists-list li div {
  display: flex;
  gap: 1rem;
}